@font-face {
    font-family: font-light;
    src: url('/fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: font-regular;
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
} 
@font-face {
    font-family: font-italic;
    src: url('/fonts/Roboto/Roboto-Italic.ttf');
} 
@font-face {
    font-family: font-bold;
    src: url('/fonts/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: font-bold-italic;
    src: url('/fonts/Roboto/Roboto-BoldItalic.ttf');
} 
@font-face {
    font-family: font-black;
    src: url('/fonts/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: font-black-italic;
    src: url('/fonts/Roboto/Roboto-BlackItalic.ttf');
} 
@keyframes fadeRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
      -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
      -moz-transform: translateX(100px);
      -o-transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
}
@keyframes fadeLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
      -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      -moz-transform: translateX(-100px);
      -o-transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
}
@keyframes fadeInLeftContainer {
    0% {
      opacity: 0;
      transform: translateX(-600px);
      -webkit-transform: translateX(-600px);
      -ms-transform: translateX(-600px);
      -moz-transform: translateX(-600px);
      -o-transform: translateX(-600px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
} 
@keyframes fadeInRightContainer {
    0% {
      opacity: 0;
      transform: translateX(600px);
      -webkit-transform: translateX(600px);
      -ms-transform: translateX(600px);
      -moz-transform: translateX(600px);
      -o-transform: translateX(600px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
}
@keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(-25px);
      -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
      -moz-transform: translateY(-25px);
      -o-transform: translateY(-25px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
    }
}
@keyframes fadeUpContainer {
    0% {
        opacity: 0;
        transform: translateY(500px);
        -webkit-transform: translateY(500px);
        -ms-transform: translateY(500px);
        -moz-transform: translateY(500px);
        -o-transform: translateY(500px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
    }
}
@keyframes sweep {
    0% {
        transform: perspective(400px) rotateX(90deg);
        -webkit-transform: perspective(400px) rotateX(90deg);
        -ms-transform: perspective(400px) rotateX(90deg);
        -moz-transform: perspective(400px) rotateX(90deg);
        -o-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    } 
    100% {
        transform: perspective(400px) rotateX(0deg);
        -webkit-transform: perspective(400px) rotateX(0deg);
        -ms-transform: perspective(400px) rotateX(0deg);
        -moz-transform: perspective(400px) rotateX(0deg);
        -o-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    } 
} 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
* a{
    cursor: pointer;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    font-family: font-regular;
}
.navbar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.header-info-container{
    width: 100%;
    height: 2.6vw;
    background-color: #32312f;
}
.header-info{
    max-width: 83vw; 
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #ffff; 
} 
.header-info-contacts {
    width: 18vw; 
    height: 100%;
}
.header-info-social {
    width: 6vw; 
    height: 100%;
}
.header-info ul{
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    list-style-type: none;
}
.header-info ul li{
    font-size: .85vw;
}
.social-logo a{
    color: #ffff;
}
.social-logo:hover a{
    color: #e1bb65;
}
.social-logo:hover{
    transform:  rotateY(100%);
    -webkit-transform:  rotateY(100%);
    -moz-transform:  rotateY(100%);
    -ms-transform:  rotateY(100%);
    -o-transform:  rotateY(100%);
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
}
.social-logo:not(:hover){
    transform:  rotateY(-360deg);
    -webkit-transform:  rotateY(-360deg);
    -moz-transform:  rotateY(-360deg);
    -ms-transform:  rotateY(-360deg);
    -o-transform:  rotateY(-360deg);
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
}
.header-menu-container{
    width: 100%;
    height: 5vw;
    padding: .5% 0;
    background-color: #1e1e1e;
}
.header-menu{
    max-width: 83vw;
    height: 100%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
.navbar-brand img{
    width: 4vw;
}
.navbar-toggler{
    display: none;  
}
.navigation-container{
    width: 80%;
    display: flex;
    justify-content: end;
}
.navbar-nav{
    width: 23vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    list-style-type: none;
}
.nav-link{
    overflow: hidden; 
    position: relative;
    display: inline-block;
    font-size: .9vw;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffff;
    padding-bottom: 2px; 
}
.nav-link::before{
    position: absolute;
    width: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    content: '';
    background-color: #e1bb65;
    transition: width 0.6s cubic-bezier(.15, 1, .15, 1);
    -webkit-transition: width 0.6s cubic-bezier(.15, 1, .15, 1);
    -moz-transition: width 0.6s cubic-bezier(.15, 1, .15, 1);
    -ms-transition: width 0.6s cubic-bezier(.15, 1, .15, 1);
    -o-transition: width 0.6s cubic-bezier(.15, 1, .15, 1);
}
.nav-link:hover::before{
    left: 1px; 
    right: auto;
    width: 100%;
}
.nav-link:hover{
    color: #e1bb65;
    transition: color 0.6s cubic-bezier(.15, 1, .15, 1);
    -webkit-transition: color 0.6s cubic-bezier(.15, 1, .15, 1);
    -moz-transition: color 0.6s cubic-bezier(.15, 1, .15, 1);
    -ms-transition: color 0.6s cubic-bezier(.15, 1, .15, 1);
    -o-transition: color 0.6s cubic-bezier(.15, 1, .15, 1);
}
.nav-link.active{
    color: #e1bb65;
}
.nav-link.active::before{
    position: absolute;
    width: 100%;
    bottom: 0;
    right: -1px;
    height: 2px;
    content: '';
    background-color: #e1bb65;
}
.rent-link{
    width: fit-content;
    height: 2.2vw;
    padding: 0 .7vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9vw;
    font-family: font-regular;
    color: #e1bb65;
    border: 1px solid #e1bb65;
    transition: background-color, color, border, .3s ease-in-out;
    -webkit-transition: background-color, color, border, .3s ease-in-out;
    -moz-transition: background-color, color, border, .3s ease-in-out;
    -ms-transition: background-color, color, border, .3s ease-in-out;
    -o-transition: background-color, color, border, .3s ease-in-out;
}
.rent-link:hover{
    background-color: #e1bb65;
    color: #ffff;
}
.rent-link:active{
    background-color: #a08548;
    border: 1px solid #a08548;
    color: #ffff;
}
.wrapper{
    width: 83vw;
    margin: 0 auto;
}
.home-page{
    width: 100%; 
    height: 100%;
}
.main-slider{
    width: 100vw;
    height: 100%;
}
.main-slider .owl-stage{ 
    width: 100vw;
    height: 100%;
}
.main-slider .owl-item{
    width: 100vw;
    height: 100vh;
}
.main-slider .owl-item.active .heading-undercover{
    animation-name: fadeLeft;
    -webkit-animation-name: fadeLeft;
    animation-duration: .9s; 
}
.main-slider .owl-item.active h3{
    animation-name: fadeRight;
    -webkit-animation-name: fadeRight;
    animation-duration: .9s;
}
.main-slider .owl-item.active .main-heading{
    animation-name: sweep;
    -webkit-animation-name: sweep;
    animation-duration: .9s;
}
.main-slider .owl-item.active ul li:nth-of-type(1){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .9s;
    animation-delay: .3s; 
}
.main-slider .owl-item.active ul li:nth-of-type(2){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .9s;
    animation-delay: .5s;
}
.main-slider .owl-item.active ul li:nth-of-type(3){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .9s;
    animation-delay: .7s;
}
.main-slider .owl-item.active .rent-link{
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .9s;
    animation-delay: .9s;
}
.main-slider .owl-dots{
    position: absolute;
    top: 50%;
    left: 5%;
    display: flex;
    flex-direction: column;
}
.main-slider .owl-dots .owl-dot { 
    width: 1vw;
    height: 1vw;
    margin-bottom: 12px;
    background: none;
    border: 2px solid #ffff !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main-slider .owl-dots .owl-dot.active{
    background-color: #e1bb65 !important;
    border-color: #e1bb65 !important;
}
.main-slider-item{
    width: 100%;
    height: 100%;
    position: relative;
}
.main-slider-img{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    object-fit: cover;
    object-position: center;  
}
.main-slider-item-content{
    width: 35%; 
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    float: right;
    background-image: url(images/text-underlayer-horizontal.png);
    background-size: cover;
    background-position: center; 
} 
.heading-undercover {
    z-index: 1;
    width: 105%;
    right: 0;
    position: absolute;
    height: 4.6vw;
    background-color: #ffff;
}
.main-heading{
    position: relative;
    font-size: 4vw; 
    font-family: font-bold-italic;
    text-transform: uppercase;
    color: #a08548;
    z-index: 2; 
    margin-right: 2vw;
} 
.main-heading-container{
    margin-top: 9%;
}
.main-slider-item-info{
    height: 35%;
    margin-top: 2%;  
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-family: font-regular; 
}
.main-slider-item-info h3{
    font-size: 2.5vw;
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
    font-family: font-italic;  
}
.main-slider-item-info ul{
    height: 50%;
    list-style-type: none;
    font-size: 1.7vw; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; 
    justify-content: space-between;
    margin-left: 6%;
    color: #bb9b53; 
}
.main-slider-item-info .rent-link{
    margin: 0 auto;
}
.about-page{
    width: 100%; 
    padding: 4vw 0; 
    background-color: #32312f;
    overflow: hidden;
}
.about-page-container{
    width: 100%;  
    display: flex;
    justify-content: space-between; 
}
.about-image{
    width: 50%; 
    height: 45vw;
    opacity: 0; 
}
.about-image.animate-in{
    animation-name: fadeInLeftContainer;
    -webkit-animation-name: fadeInLeftContainer;
    animation-duration: .5s;
}
.about-image img{
    width: 100%;
    height: 100%;
}
.about-info{
    width: 45%;
    padding: 3vw;
    padding-right: calc((100vw - 83vw) / 2);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    background-image: url(images/text-underlayer.png);
    background-size: cover;
    background-position: center;
    opacity: 0; 
}
.about-info.animate-in{
    animation-name: fadeInRightContainer;
    -webkit-animation-name: fadeInRightContainer;
    animation-duration: .5s;
} 
.heading-undercover-about{
    z-index: 1;
    width: 105%;
    right: 0;
    position: absolute;
    height: 3vw; 
    background-color: #ffff;
    opacity: 0;
}
.heading-undercover-about.animate{
    animation-name: fadeLeft;
    -webkit-animation-name: fadeLeft;
    animation-duration: .5s; 
    animation-delay: .3s;
}
.heading{
    position: relative;
    font-size: 2vw;
    font-family: font-bold-italic;
    text-transform: uppercase;
    color: #a08548;
    z-index: 2; 
    margin-top: 6px;
    opacity: 0;
}
.heading.about.animate{
    animation-name: fadeRight;
    -webkit-animation-name: fadeRight; 
    animation-duration: .5s; 
    animation-delay: .3s;
} 
.about-info p{
    font-size: .9vw;
    font-family: font-regular;
    color: #ffff;
    text-align: justify;
    margin-top: 5vw;
}
.about-social{
    width: 100%;  
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin-top: 2vw;
    font-family: font-regular;
}
.about-social ul{
    width: 6vw;
    align-self: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
}
.about-social ul li a{
    font-size: .9vw;
    text-decoration: none;
    color: #ffff;
}
.about-stats{
    position: absolute;
    bottom: 15%;
    left: -11%; 
    width: 60%;
    height: 7.5vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #a08548; 
}
.about-stats ul{
    width: 80%; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    color: #ffff;
    font-family: font-bold; 
}
.about-stats ul li{
    font-size: 1.5vw; 
}
.about-stats ul li span{
    font-size: 2.2vw;
}
.process-page{
    width: 100%;
    height: 100%; 
    padding: 4vw 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-content: flex-end; 
    background-color: #32312f; 
    overflow: hidden; 
}
.process-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
}
.process-container.animate{
    animation-name: fadeUpContainer;
    -webkit-animation-name: fadeUpContainer; 
    animation-duration: .5s; 
}
.stages-content{
    position: relative;
    width: 35%;
    height: auto;
    padding-left: calc(((100% - 83vw) / 2));
    padding-top: 1vw;
    padding-right: 2vw;
    background-image: url(images/text-underlayer.png);
    background-size: cover;
    background-position: center;
    opacity: 0; 
}
.stages-content.animate-in{
    animation-name: fadeInLeftContainer;
    -webkit-animation-name: fadeInLeftContainer; 
    animation-duration: .5s; 
}
.process-heading-container{
    width: 100%; 
    padding-top: 1.5vw;
    margin-bottom: 2vw;
}
.process-subheading{
    position: absolute;
    top: 1vw;
    font-size: .7vw;
    font-family: font-regular;
    text-transform: uppercase;
    color: #a08548; 
    margin-bottom: 5px;
}
.heading-undercover-process{
    z-index: 1;
    width: 100%; 
    left: 0;
    position: absolute;
    height: 3vw; 
    background-color: #ffff;
    opacity: 0;
}
.heading-undercover-process.animate{
    animation-name: fadeLeft;
    -webkit-animation-name: fadeLeft;
    animation-duration: .5s;
    animation-delay: .3s; 
}
.heading.process.animate{
    animation-name: fadeRight;
    -webkit-animation-name: fadeRight; 
    animation-duration: .5s;
    animation-delay: .3s; 
}
.stages-container{
    width: 80%; 
    height: auto;
    display: flex;
    flex-direction: column;
} 
.stage{
    width: 100%;     
    height: auto;
    margin-bottom: 2vw; 
    padding: 1vw;
    border: 2px solid #e1bb65;
    display: flex; 
    justify-content: space-evenly;
    opacity: 0;
} 
.stage.animate:last-of-type{
    margin-bottom: 0;
}
.stage.animate:nth-of-type(1){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: .3s; 
}
.stage.animate:nth-of-type(2){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: .5s;
}
.stage.animate:nth-of-type(3){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: .7s;
}
.stage .fa-solid{
    font-size: 1.4vw;
    color: #e1bb65;   
}
.stage-info{
    width: 85%; 
}
.stage-info h5{
    font-size: 1.2vw;
    font-family: font-bold;
    color: #e1bb65;
    text-decoration: underline;
    margin-bottom: 10px;
}
.stage-info p{
    font-size: .9vw;
    font-family: font-regular;
    text-align: justify;
    color: #ffff;
}
.process-image-container{
    width: 55%;
    height: 40vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end; 
    background-image: url(images/stages-image.png);  
    background-size: cover;
    background-position: center;
    opacity: 0;
}
.process-image-container.animate-in{
    animation-name: fadeInRightContainer;
    -webkit-animation-name: fadeInRightContainer; 
    animation-duration: .5s; 
}
.process-image-text{
    font-size: 3vw;
    font-family: font-bold-italic;
    text-transform: uppercase; 
    color: #a08548;   
    margin: 0 auto;
    margin-bottom: 5vw;
    opacity: 0; 
}
.process-image-text.animate{
    animation-name: fadeRight;
    -webkit-animation-name: fadeRight; 
    animation-duration: .5s;
    animation-delay: .3s;
}
.offers-page{ 
    width: 100%; 
    height: 100%; 
    padding: 4vw 0;
    background-color: #32312f;
    background-image: url(images/text-underlayer.png);
    background-size: cover;
    background-position: center; 
    overflow: hidden; 
}
.wrapper.offers{
    display: flex;
    justify-content: space-between;
} 
.offers-block-main{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.offers-heading-container{ 
    width: calc(40vw - ((100vw - 83vw) / 2)); 
    margin-bottom: 2vw;
} 
.heading-undercover-offers{
    z-index: 1;
    width: 40vw; 
    left: 0;
    position: absolute;
    height: 3vw; 
    background-color: #ffff; 
    opacity: 0;
}
.heading-undercover-offers.animate{
    animation-name: fadeLeft;
    -webkit-animation-name: fadeLeft;
    animation-duration: .5s;
}
.heading.offers.animate{
    animation-name: fadeRight;
    -webkit-animation-name: fadeRight; 
    animation-duration: .5s;
    animation-delay: .1s; 
}
.offers-heading-container .text{
    font-size: .9vw;
    font-family: font-regular;
    text-align: justify; 
    color: #ffff;
    margin: 1.5vw 0;  
    opacity: 0;
}
.offers-heading-container .text.animate{
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp; 
    animation-duration: .3s;  
}
.offers-heading-container .rent-link{
    opacity: 0;
}
.offers-heading-container .rent-link.animate{
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp; 
    animation-duration: .4s;
}
.offer-main{
    width: 100%;   
    opacity: 0;
}
.offer-main.animate{
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: .3s; 
}
.offer-main a{
    position: relative;
    width: 100%;
    height: 35vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: space-between;
    text-decoration: none;
}
.offer-main .cat-title{
    width: fit-content;
    height: 2vw;
    margin-top: 2vw;
    margin-left: 2vw;
    padding: 0 .8vw;
    font-size: .7vw;
    font-family: font-regular;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #ffff;
    background-color: #bb9b53;
    z-index: 2;
}
.offer-main a img{
    position: absolute;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: center; 
}
.offer-info{
    width: 100%;
    height: 30%; 
    padding: 0 2vw;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-image: url(images/offer-desc-underlayer.png); 
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.offer-main .offer-info{
    padding-top: 3vw;
}
.offer-data{
    width: 25%; 
    font-size: 1.2vw;
    font-family: font-regular;
    color: #e1bb65;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
} 
.offer-info h4{
    font-size: 1.5vw;
    font-family: font-bold;
    color: #e1bb65;
}
.offers-block-rest{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.offer{
    width: 100%;  
    height: 32%;
    opacity: 0;
}
.offer.animate:nth-of-type(1){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: .3s; 
}
.offer.animate:nth-of-type(2){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: .5s; 
}
.offer.animate:nth-of-type(3){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: .7s; 
}
.offer a{
    position: relative;
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
}
.offer .cat-title{
    width: fit-content;
    height: 1.5vw;
    margin-top: 1vw;
    margin-left: 1vw;
    padding: 0 .6vw;
    font-size: .5vw;
    font-family: font-regular; 
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #ffff;
    background-color: #bb9b53;
    z-index: 1;
}
.offer .offer-info{
    padding: 0 1vw;
    padding-top: 1vw;
}
.offer .offer-data{
    width: 30%;
    font-size: .8vw;
    font-family: font-regular;
    color: #e1bb65;
}
.offer .offer-info h4{
    font-size: 1vw;
    font-family: font-bold;
    color: #e1bb65;
}
.offer a img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.testimonials-page{
    width: 100%;
    height: 100%; 
    padding: 4vw 0;
    display: flex;
    flex-direction: column;
    background-color: #32312f; 
    background-image: url(images/text-underlayer.png);
    background-size: cover;
    background-position: center; 
    overflow: hidden; 
}
.testimonials-heading-container{ 
    width: calc(40vw - ((100vw - 83vw) / 2)); 
    padding-top: 1.5vw;
    margin-bottom: 2vw;
} 
.heading-undercover-testimonials{
    z-index: 1;
    width: 40vw; 
    left: 0;
    position: absolute;
    height: 3vw; 
    background-color: #ffff; 
    opacity: 0;
}
.heading-undercover-testimonials.animate{
    animation-name: fadeLeft;
    -webkit-animation-name: fadeLeft;
    animation-duration: .5s;
}
.heading.testimonials.animate{
    animation-name: fadeRight;
    -webkit-animation-name: fadeRight; 
    animation-duration: .5s;
    animation-delay: .1s; 
}
.testimonials-heading-container p{
    font-size: .9vw;
    font-family: font-regular;
    text-align: justify; 
    color: #ffff;
    margin: 1.5vw 0; 
}
.comments-slider{
    width: 100%;
}
.comments-slider .owl-item{
    height: 10vw;
    border: 2px solid #e1bb65;
}
.comments-slider .owl-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vw;
}
.comments-slider .owl-dots .owl-dot { 
    width: 1vw;
    height: 1vw;
    margin-bottom: 12px;
    margin-right: 12px;
    background: none;
    border: 2px solid #ffff !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.comments-slider .owl-dots .owl-dot.active{
    background-color: #e1bb65 !important;
    border-color: #e1bb65 !important;
}
.comments-slider article{
    width: 100%;
    height: 100%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comments-slider article p{
    font-size: .9vw;
    font-family: font-regular;
    text-align: justify;
    color: #ffff;
}
.comments-slider .comment-desc{
    width: 100%; 
    display: flex;
    justify-content: space-between;
}
.comments-slider .comment-desc span{
    font-size: .7vw;
    font-family: font-regular;
    color: #e1bb65;    
}
.comments-slider .comment-desc h5{
    font-size: .9vw;
    font-family: font-bold;
    text-transform: capitalize;
    color: #e1bb65;
}
.faq-page{
    width: 100%; 
    height: 100%; 
    padding: 4vw 0;
    display: flex;
    flex-direction: column;
    background-color: #32312f; 
    background-image: url(images/text-underlayer.png);
    background-size: cover;
    background-position: center;
    overflow: hidden; 
}
.faq-heading-container{ 
    width: calc(40vw - ((100vw - 83vw) / 2)); 
    padding-top: 1.5vw;
    margin-bottom: 2vw;
} 
.heading-undercover-faq{
    z-index: 1;
    width: 40vw; 
    left: 0;
    position: absolute;
    height: 3vw; 
    background-color: #ffff; 
    opacity: 0;
}
.heading-undercover-faq.animate{
    animation-name: fadeLeft;
    -webkit-animation-name: fadeLeft;
    animation-duration: .5s;
}
.heading.faq.animate{
    animation-name: fadeRight;
    -webkit-animation-name: fadeRight; 
    animation-duration: .5s;
    animation-delay: .1s; 
}
.faq-heading-container p{
    font-size: .9vw;
    font-family: font-regular;
    text-align: justify; 
    color: #ffff;
    margin: 1.5vw 0; 
}
.faq-heading-container p a{ 
    color: #ffff; 
}
.faq-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.faq-block{
    width: 45%;
    display: flex;
    flex-direction: column;
    opacity: 0;
}
.faq-block.animate-in{
    animation-name: fadeInLeftContainer;
    -webkit-animation-name: fadeInLeftContainer;
    animation-duration: .5s;
}
.faq-item{
    width: 100%;
    height: fit-content;
    transition: height .5s ease-in-out;
    -webkit-transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
    -ms-transition: height .5s ease-in-out;
    -o-transition: height .5s ease-in-out;
}
.faq-btn{
    width: 100%; 
    padding: 2vw 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between; 
    font-size: 1.2vw;
    font-family: font-bold;
    color: #ffff;
    border-bottom: 1px solid #e1bb65; 
}
.faq-btn h4{
    width: 85%;
}
.faq-btn .fa-solid{
    align-self: center;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: transform .4s ease-in-out;
    -webkit-transition: transform .4s ease-in-out;
    -moz-transition: transform .4s ease-in-out;
    -ms-transition: transform .4s ease-in-out;
    -o-transition: transform .4s ease-in-out;
}
.faq-btn.active{
    color: #e1bb65;
}
.faq-btn .fa-solid.active{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.faq-answer{
    width: 100%; 
    display: none;
    padding: 2vw 0; 
    font-size: .9vw;
    font-family: font-regular;
    color: #ffff;
    border-bottom: 1px solid #e1bb65;
}
.faq-answer p{
    text-align: justify;
}
.faq-answer.active{
    display: inline-block; 
}
.faq-block.image{
    width: 45%; 
    height: auto;
    opacity: 0;
}
.faq-block.image.animate-in{
    animation-name: fadeInRightContainer;
    -webkit-animation-name: fadeInRightContainer;
    animation-duration: .5s;
}
.faq-image{
    width: 100%;
    height: 100%;
}
.faq-image img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center;
}
footer{
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;  
}
.wrapper.footer{
    padding: 2vw 0;
}
.footer-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-about{
    width: 30%;
}
.footer-about h2{
    font-size: 1.2vw;
    font-family: font-bold;
    color: #e1bb65;
    margin-bottom: 1vw;
}
.footer-about p{
    font-size: .9vw;
    font-family: font-regular;
    color: #ffff;
    text-align: justify;
}
.footer-about .about-social{
    margin-top: 1vw;
} 
.footer-support, .footer-company, .footer-contacts{
    width: 15%;
}
.footer-support h6, .footer-company h6, .footer-contacts h6{
    font-size: 1.2vw;
    font-family: font-bold;
    color: #e1bb65;
    margin-bottom: 1vw;
}
.footer-support ul, .footer-company ul, .footer-contacts ul{
    width: 100%;
    list-style-type: none;
}
.footer-support ul li, .footer-company ul li, .footer-contacts ul li{
    margin-bottom: .5vw; 
}
.footer-support ul li a, .footer-company ul li a, .footer-contacts ul li{
    font-size: .9vw;
    font-family: font-regular;
    color: #ffff;
    text-decoration: none;
}
.footer-support ul li a:hover, .footer-company ul li a:hover{
    color: #e1bb65;
}
.categories-page{
    width: 100%; 
    height: 100%;
    background-color: #32312f;
    background-image: url(images/text-underlayer.png);
    background-size: cover;
    background-position: center; 
}
.wrapper.categories{
    margin-top: 7.6vw;
}
.categories-heading-container{ 
    width: calc(40vw - ((100vw - 83vw) / 2)); 
    padding-top: 1.5vw;
    margin-bottom: 2vw;
} 
.heading-undercover-cats{
    z-index: 1;
    width: 40vw; 
    left: 0;
    position: absolute;
    height: 3vw; 
    background-color: #ffff; 
    opacity: 0;
}
.heading-undercover-cats.animate{
    animation-name: fadeLeft;
    -webkit-animation-name: fadeLeft;
    animation-duration: .5s;
}
.heading.cats.animate{
    animation-name: fadeRight;
    -webkit-animation-name: fadeRight; 
    animation-duration: .5s;
    animation-delay: .1s; 
}
.categories-heading-container p{
    font-size: .9vw;
    font-family: font-regular;
    text-align: justify; 
    color: #ffff;
    margin: 1.5vw 0; 
}
.cats-container{
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 
.cat-item{
    width: 48%;
    height: 21vw; 
    margin-bottom: 2vw;
    opacity: 0;
}
.cat-item.animate:nth-of-type(1){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: .3s; 
}
.cat-item.animate:nth-of-type(2){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: .5s; 
}
.cat-item.animate:nth-of-type(3){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: .7s; 
}  
.cat-item.animate:nth-of-type(4){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: .9s; 
}   
.cat-item.animate:nth-of-type(5){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: 1.1s; 
}   
.cat-item.animate:nth-of-type(6){
    animation-name: fadeUp;
    -webkit-animation-name: fadeUp;
    animation-duration: .5s;
    animation-delay: 1.3s; 
}          
.cat-item:last-of-type{
    margin-bottom: 0;
}
.cat-item a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
}
.cat-item a:hover {
   background-size: 105% 105%;
   transition: background-size .3s ease-in-out;
   -webkit-transition: background-size .3s ease-in-out;
   -moz-transition: background-size .3s ease-in-out;
   -ms-transition: background-size .3s ease-in-out;
   -o-transition: background-size .3s ease-in-out;
}
.cat-item a:not(:hover) {
    background-size: 100% 100%;
    transition: background-size .3s ease-in-out;
    -webkit-transition: background-size .3s ease-in-out;
    -moz-transition: background-size .3s ease-in-out;
    -ms-transition: background-size .3s ease-in-out;
    -o-transition: background-size .3s ease-in-out;
 }
.cat-item:nth-of-type(1) a{
    background-image: url(images/city-car-banner.jpg);
}
.cat-item:nth-of-type(2) a{
    background-image: url(images/sport-cars-banner.jpg);
}
.cat-item:nth-of-type(3) a{
    background-image: url(images/classic-car-banner.jpg);
}
.cat-item:nth-of-type(4) a{
    background-image: url(images/special-car-banner.jpg);
} 
.cat-item:nth-of-type(5) a{
    background-image: url(images/comfort-car-banner.jpg);
} 
.cat-item:nth-of-type(6) a{
    background-image: url(images/muscle-car-banner.png);
}
.cat-item-content{
    width: 100%;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
    background-color: #32312fe1;
}
.cat-item a:hover .cat-item-content{
    background-color: #32312f;
    transition: background-color.3s ease-in-out;
    -webkit-transition: background-color.3s ease-in-out;
    -moz-transition: background-color.3s ease-in-out;
    -ms-transition: background-color.3s ease-in-out;
    -o-transition: background-color.3s ease-in-out;
}
.cat-item a:not(:hover) .cat-item-content{
    background-color: #32312fe1;
    transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
}
.cat-item-content h5{
    width: 100%;
    font-size: 1.5vw;
    font-family: font-bold;
    text-transform: uppercase; 
    color: #ffff;
    text-align: center;
}
.cat-item a:hover h5{
    color: #e1bb65;
    transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
}
.cat-item a:not(:hover) h5{
    color: #ffff; 
    transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
}
.cars-page{
    width: 100%; 
    height: 100%;  
    background-color: #32312f; 
    background-image: url(images/text-underlayer.png);
    background-size: cover;
    background-position: center;
    overflow: hidden; 
}
.wrapper.cars{
    margin-top: 7.6vw;
}
.cars-heading-container{ 
    width: calc(40vw - ((100vw - 83vw) / 2)); 
    padding-top: 1.5vw;
    margin-bottom: 2vw;
} 
.heading-undercover-cars{
    z-index: 1;
    width: 40vw; 
    left: 0;
    position: absolute;
    height: 3vw; 
    background-color: #ffff; 
    opacity: 0;
}
.heading-undercover-cars.animate{
    animation-name: fadeLeft;
    -webkit-animation-name: fadeLeft;
    animation-duration: .5s;
}
.heading.cars.animate{
    animation-name: fadeRight;
    -webkit-animation-name: fadeRight; 
    animation-duration: .5s;
    animation-delay: .1s; 
}
.cars-heading-container p{
    font-size: .9vw;
    font-family: font-regular;
    text-align: justify; 
    color: #ffff;
    margin: 1.5vw 0; 
}
.cars-filters{
    width: 100%;
}
.filters-heading{
    display: none;
}
.filters-content{
    width: 100%; 
}
.filters-form{
    width: 100%; 
    padding: 2vw;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.filters-form label, .filters-form input  {
    font-size: .9vw;
    font-family: font-regular;
    color: #ffff; 
    width: 18%;
}
.filters-form label{
    font-size: .9vw;
    font-family: font-regular;
    color: #e1bb65; 
    width: 18%;
    border-right: 1px solid #ffff; 
}
.filters-form input  {
    background: none;
    border: none; 
    outline: none;
    border-bottom: 1px solid #ffff;
    margin-top: 1vw;
    padding: 1vw 0;
}
.filters-form input:focus{
    border-bottom-color: #e1bb65;
}
.filters-form input::placeholder {
    font-size: .9vw;
    font-family: font-regular;
}
.filters-form label:nth-of-type(1){
    order: 1;
}
.filters-form label:nth-of-type(2){
    order: 2;
}
.filters-form label:nth-of-type(3){
    order: 3;
}
.filters-form label:nth-of-type(4){
    order: 4;
}
.filters-form label:nth-of-type(5){
    order: 5;
} 
.filters-form input:nth-of-type(1){
    order: 6;
}
.filters-form input:nth-of-type(2){
    order: 7;
}
.filters-form input:nth-of-type(3){
    order: 8;
}
.filters-form input:nth-of-type(4){
    order: 9;
}
.filters-form input:nth-of-type(5){
    order: 10;
}
.car-list{
    width: 100%;
    max-height: 200vh; 
    height: auto;
    margin: 4vw 0;
    padding-right: 2vw; 
    overflow-y: scroll;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}
.car-list::-webkit-scrollbar {
    width: 5px;
}
.car-list::-webkit-scrollbar-track {
    background: #a08648df;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
}
.car-list::-webkit-scrollbar-thumb {
    background: #e1bb65;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
} 
.car-list::-webkit-scrollbar-thumb:hover {
    background: #fcd069; 
}
.cars-list-item{
    width: 47%;
    margin-bottom: 2vw;
}
.cars-list-item figure{
    width: 100%;  
}
.cars-list-item figure img{
    width: 100%;
    height: 20vw;
    object-fit: cover;
    object-position: center;
}
.cars-list-item figure figcaption{
    width: 100%;
    margin-top: 1vw;
}
.cars-list-item figure figcaption h5{
    font-size: 1.2vw;
    font-family: font-bold;
    color: #ffff;
}
.cars-list-item figure figcaption ul {
    width: 100%;
    margin: 1vw 0; 
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;  
}
.cars-list-item figure figcaption ul li{
    width: fit-content;
    padding-right: 1vw;  
    font-size: .9vw;
    font-family: font-regular;
    color: #ffff;
    border-right: 1px solid #ffff;
    margin-right: 1vw;
}
.product-page{ 
    width: 100%;  
    height: 100%;  
    background-color: #32312f; 
    background-image: url(images/text-underlayer.png);
    background-size: cover;
    background-position: center;
    overflow: hidden; 
    margin-top: 7.6vw;
    padding-bottom: 4vw;
}
.product-heading-container{ 
    width: calc(40vw - ((100vw - 83vw) / 2)); 
    padding-top: 1.5vw;
    margin-bottom: 2vw;
} 
.heading-undercover-product{
    z-index: 1;
    width: 40vw; 
    left: 0;
    position: absolute;
    height: 3vw; 
    background-color: #ffff; 
    opacity: 0;
}
.heading-undercover-product.animate{
    animation-name: fadeLeft;
    -webkit-animation-name: fadeLeft;
    animation-duration: .5s;
}
.heading.product.animate{
    animation-name: fadeRight;
    -webkit-animation-name: fadeRight; 
    animation-duration: .5s;
    animation-delay: .1s; 
} 
.product-content{
    width: 100%;
    display: flex;
    justify-content: space-between; 
}
.product-slider-container{
    width: 50%; 
}
.product-preview{
    width: 100%;  
}
.preview-img{
    width: 100%;
    height: 25vw;
}
.preview-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} 
.product-slider{
    position: relative;
    width: 100%; 
    height: 9vw;
    margin-top: 1vw;  
}
.product-slider .owl-stage, .product-slider .owl-stage-outer{
    height: 100%;
}
.product-slider .owl-item{
    width: 100%;
    height: 100%;
    cursor: pointer; 
}
.product-slider .owl-item .product-item{
    width: 100%;
    height: 100%;
}
.product-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
} 
.product-slider .owl-nav .owl-prev, .product-slider .owl-nav .owl-next{ 
    width: 9%;
    height: 100%; 
    background-color: #1e1e1e !important;
    opacity: .8;
}
.product-slider .owl-nav .owl-prev .fa-solid, .product-slider .owl-nav .owl-next .fa-solid{
    font-size: 1.5vw; 
    color: #ffff; 
}
.product-slider .owl-nav .owl-prev:hover, .product-slider .owl-nav .owl-next:hover{
    opacity: .8;
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
} 
.product-slider .owl-nav .owl-prev:not(:hover), .product-slider .owl-nav .owl-next:not(:hover){
    opacity: .5;
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
} 
.product-slider .owl-nav .owl-prev{
    position: absolute;
    top: 0;
    left: 0; 
}
.product-slider .owl-nav .owl-next{
    position: absolute;
    top: 0;
    right: 0;
} 
.product-desc{
    width: 40%;
}
.product-desc p{
    font-size: .9vw;
    font-family: font-regular;
    text-align: justify;
    color: #ffff;
}
.product-features{
    width: 100%; 
    list-style-type: disc;
    font-size: .9vw;
    font-family: font-regular;
    color: #ffff;
    margin-top: 1vw;
}
.product-features li{
    margin-top: .5vw;
    margin-left: 1vw; 
}
.product-stats{
    width: 40%;
}
.product-stats ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
    font-family: font-regular;
    color: #fcd069;
    margin: 1vw 0;
}
.product-reviews{
    width: 100%;
    margin-top: 2vw;
    padding-top: 1vw;
    border-top: 1px solid #e1bb65;
}
.product-reviews h3{
    font-size: 1.2vw;
    font-family: font-bold;
    text-transform: uppercase;
    color: #e1bb65;
    margin-bottom: 2vw;
}
.contacts-page{ 
    width: 100%;  
    height: 100%;  
    background-color: #32312f; 
    background-image: url(images/text-underlayer.png);
    background-size: cover;
    background-position: center;
    overflow: hidden; 
    margin-top: 7.6vw;
    padding-bottom: 4vw;
}
.contacts-heading-container{ 
    width: calc(40vw - ((100vw - 83vw) / 2)); 
    padding-top: 1.5vw;
    margin-bottom: 2vw;
} 
.heading-undercover-contacts{
    z-index: 1;
    width: 40vw; 
    left: 0;
    position: absolute;
    height: 3vw; 
    background-color: #ffff; 
    opacity: 0;
}
.heading-undercover-contacts.animate{
    animation-name: fadeLeft;
    -webkit-animation-name: fadeLeft;
    animation-duration: .5s;
}
.heading.contacts.animate{
    animation-name: fadeRight;
    -webkit-animation-name: fadeRight; 
    animation-duration: .5s;
    animation-delay: .1s; 
} 
.contacts-content{
    width: 100%; 
    display: flex;
    justify-content: space-between; 
}
.contacts-item{
    width: 45%;
}
.contacts-item:first-of-type h5{
    font-size: 1.5vw;
    font-family: font-bold;
    color: #e1bb65;
    margin-bottom: .5vw;
}
.contacts-item:first-of-type p{
    font-size: .9vw;
    font-family: font-regular;
    color: #ffff;
    text-align: justify;
}
.contacts-item:first-of-type h6{
    font-size: 1.2vw;
    font-family: font-bold;
    color: #e1bb65;
    margin-top: 1vw;
    margin-bottom: .5vw;
}
.contacts-item:first-of-type ul{
    width: 55%;
    list-style-type: none;
    margin-top: 1vw;
}
.contacts-item:first-of-type ul li{
    margin-bottom: 1vw;
}
.contacts-item:first-of-type ul li a{
    font-size: .9vw;
    font-family: font-regular;
    color: #ffff;
    text-decoration: none;
}
.contacts-item:last-of-type{
    width: 35%;
}
.contacts-item:last-of-type h5{
    width: 100%;
    font-size: 1.5vw;
    font-family: font-bold;
    text-transform: uppercase;
    color: #fcd069; 
}
#contactForm{
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2vw;
}
#contactForm label, #contactForm input, #contactForm textarea  {
    font-size: .9vw;
    font-family: font-regular;
    color: #ffff; 
    width: 45%;
} 
#contactForm input, #contactForm textarea  {
    background: none;
    border: none; 
    outline: none;
    border-bottom: 1px solid #ffff;
    margin: .5vw 0 1vw 0;
    padding: .5vw 0; 
} 
#contactForm input:focus, #contactForm textarea:focus {
    border-bottom-color: #e1bb65;
}
#contactForm input::placeholder, #contactForm textarea::placeholder {
    font-size: .9vw;
    font-family: font-regular;
}
#contactForm button{
    width: fit-content;
    height: 2.2vw;
    padding: 0 .7vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9vw;
    font-family: font-regular;
    color: #e1bb65;
    background: none; 
    border: 1px solid #e1bb65;
    transition: background-color, color, border, .3s ease-in-out;
    -webkit-transition: background-color, color, border, .3s ease-in-out;
    -moz-transition: background-color, color, border, .3s ease-in-out;
    -ms-transition: background-color, color, border, .3s ease-in-out;
    -o-transition: background-color, color, border, .3s ease-in-out;
    order: 7;
}
#contactForm button:hover{
    background-color: #e1bb65;
    color: #ffff;
}
#contactForm button:active{
    background-color: #a08548;
    border: 1px solid #a08548;
    color: #ffff;
}
#contactForm label:nth-of-type(1){
    order: 1;
}
#contactForm label:nth-of-type(2){
    order: 2;
}
#contactForm input:nth-of-type(1){
    order: 3;
}
#contactForm input:nth-of-type(2){
    order: 4;
}
#contactForm label:nth-of-type(3){
    order: 5;
}
#contactForm textarea{
    width: 100%; 
    padding-bottom: 0;
    order: 6;
}
.map-container{
    width: 100%;  
    height: 25vw;
    margin-top: 2vw; 
}
.map-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: .6;
}

